.faq-item {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8vw;
    background-color: white;
    transition: all 0.5 ease;
    overflow: hidden;
}

.faq-question {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 1.3vw;
    color: #19154E;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: left;
    transition: background-color 0.3s ease;
    height: 6vw;
    padding-left: 2vw;
    padding-right: 2vw;
}


.faq-question:hover {
    background-color: #F6F5FF;

}

.faq-question.open {
    background-color: white;
}

.faq-answer {
    padding: 10px;
    max-height: 50vw;
    transition: all 0.5s ease;
    width: 100%;
    white-space: pre-wrap;
    overflow: hidden;
}

.faq-answer p {
    color: #4E5063;
    padding-left: 2vw;
    transition: all 0.5 ease;

}

/* 
.faq-item.open .faq-answer {
    max-height: 1000vw;
} */

.faq-question::after {
    content: '+';
    transition: transform 0.3s;
    font-size: 2.5vw;
    font-weight: 300;
    color: #4E5063;
}

.faq-question.open::after {
    content: '×';
    transform: rotate(-95deg);
}

.question-symbol {
    padding-right: 12vw;
    margin-left: auto;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.faq-item.open .question-symbol {
    transform: rotate(-90.deg);
}

.faq-answer.closed {
    padding: 0 10px;
    max-height: 0;
    transition: all 0.5s ease;
    overflow: hidden;
}

.faq-answer.closed p {
    opacity: 0;
    transition: all 0.5 ease;
}