.top-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    animation: nav-show 1s ease forwards;
    padding-top: 0.3vw;
    padding-bottom: 0.5vw;
    width: 100%;
    height: 3.8vw;
    z-index: 2;
    transition: all 0.2s;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.scroll-down {
    backdrop-filter: blur(15px);
    box-shadow: 0 0.3px 10px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

.left-nav {
    display: flex;
    align-items: center;
    gap: 2vw;
    padding-left: 2vw;
}

.right-nav {
    display: flex;
    padding-right: 5vw;
    background-color: white;
}

.nav-contact-button {
    vertical-align: middle;
}

.logo-mini {
    width: 20vw;
}

.logo-mini img {
    width: 12vw;
    transform: translateX(-80%);
    margin-left: 15vw;
    align-items: center;
}

.language-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vw;
}

.language-option {
    padding: 0.5vw 2vw;
    cursor: pointer;
    font-size: 1vw;
    font-family: "Manrope", serif;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0.5vw;
}

.language-option:hover {
    background-color: #f0f0f0;
}

.language-option.active {
    background-color: #007bff;
    color: white;
}

.right-nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item a {
    padding: 1.8vw;
    font-size: 1.4vw;
    text-decoration: none;
    color: rgb(78, 80, 99);
    font-family: "Manrope", sans-serif;
    font-weight: 500;
}

.right-nav a:hover {
    font-size: 1;
    text-decoration: underline;
    color: #00366f;
}

.right-nav .dropdown-content {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    display: none;
    background-color: #d3e8ff;
    min-width: 32vw;
    border-radius: 0.5vw;
    border-radius: 0 0 0.5vw 0.5vw;
    margin-top: 0.5vw;
    left: -9.3vw;
    z-index: -1;
}

.right-nav a:hover+.dropdown-content {
    display: block;
}

.right-nav:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
    margin-top: 1.4vw;
}

.dropdown {
    position: relative;
}

.dropdown-content a {
    padding: 1.2vw 1vw;
    display: block;
}

.dropdown-content a:last-child {
    border-bottom: none;
}


.right-nav .active {
    color: rgb(141, 191, 240)
}

@keyframes nav-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 450px) {
    .bottom-nav {
        position: fixed;
        color: white;
        bottom: 10vw;
        margin-left: 80vw;
        animation: nav-show 1s ease forwards;
    }

    .logo-mini {
        display: flex;
        justify-content: start;
        width: 100%;
    }

    .logo-mini img {
        transform: translateX(0%);
        margin-left: 5vw;
        width: 70%;
    }

    .top-nav {
        margin-top: 5vw;
    }

    .right-nav {
        display: none;
    }

    .nav-contact-button a {
        text-align: right;
        font-family: "Manrope", sans-serif;
        font-size: 1.2vw;
        box-shadow: 0;
        filter: brightness(1);
        transition: all 0.3s ease;
        color: white;
        text-decoration: none;
    }

    .nav-contact-button {
        justify-content: center;
        align-items: center;
        display: flex;
        margin-right: 8vw;
        width: 8vw;
        height: 3vw;
        border-radius: 0.5vw;
        background-color: rgb(141, 191, 240);
    }

    .dropdown {
        position: relative;
        display: flex;
        align-items: center;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #d3e8ff;
        min-width: 100%;
        z-index: 1;
        border-radius: 0.5vw;
        margin-top: 1.5vw;
        left: 0;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        padding: 0.5vw 1vw;
        font-size: 4vw;
    }
}