.get-in-touch-button {
    justify-content: center;
    display: flex;
    width: 10vw;
    height: 4vw;
    border-radius: 0.8vw;
    background-color: rgb(141, 191, 240);
    padding-left: 0;
}

.get-in-touch-button a {
    font-family: "Manrope", sans-serif;
    font-size: 1.2vw;
    font-weight: 600;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.get-in-touch-button:hover {
    background-color: #77A3CD;
    color: #DAD9D9;
    text-decoration: none;
}