.service-links a {
    display: block;
    line-height: 3.5vw;
    text-decoration: none;
    color: #8052D1;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 1.6vw;
    letter-spacing: 0.05vw;
}

.service-links {
    display: flex;
    flex-direction: column;
}

.service-links a::after {
    content: '\2192';
    margin-left: 5px;
    opacity: 1;
    transition: opacity 0.2s ease, margin-left 0.2s ease;
    position: absolute;
    font-family: "Manrope", sans-serif;
    font-size: 1.3vw;
    color: #8052D1;
}

.service-links a:hover::after {
    margin-left: 1vw;
}